---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Page not found" page="404">
    <main class="container-1100 container-centered container-padded">
        <h1>Not found</h1>
        <p>That route is not defined.</p>
    </main>
</Layout>
