header {
    background: var(--positive-darker);
    color: var(--lighter);
    
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a {
            color: var(--lighter);
            text-decoration: none;

            &.active {
                border-bottom: 2px dotted var(--lighter);
            }
        }
    }
}
