---
import "./Header.less";

const {title, page} = Astro.props;

const isActive = function(pageName)
{
    return pageName === page ? "active" : "";
}
---

<header>
    <nav class="container-1100 container-centered container-padded flex flex-row-nowrap align-center justify-space-between gap-8">
        <h1>Disastro / {title}</h1>
        <ul class="flex flex-row-nowrap gap-8 align-center">
            <li><a href="/" class={isActive("home")}>Home</a></li>
            <li><a href="/about" class={isActive("about")}>About</a></li>
            <li><a href="/login" class={isActive("login")}>Login</a></li>
        </ul>
    </nav>
</header>